.container {
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
}

.entityInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}
