.characterInfoWrapper {
  display: flex;
  background: #fff;
  border-radius: 4px;
  height: 30vh;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: 100vh;
  }
}

.characterInfoDetails {
  flex: 5;
  padding: 32px;

  @media screen and (max-width: 768px) {
    flex: 1;
  }

  .characterName {
    font-size: 32px;
    font-weight: 600;
    color: #000;
  }

  .characterDescription {
    font-weight: 500;
    color: grey;
    margin-top: 16px;
    font-size: 18px;
  }
}
