.card {
  text-decoration: none;

  .cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    width: 280px;
    padding: 10px;
    justify-content: center;

    .imageContainer {
      height: 90%;
      width: 100%;
      background-color: gray;
      color: #000;
    }

    .textContainer {
      color: #ffffffbe;
      font-size: 12px;
    }
  }
}
