@font-face {
  font-family: Starjhol;
  src: url(../../assets/fonts/Starjhol.ttf);
  font-weight: normal;
  font-style: normal;
}

.headerContainer {
  text-align: center;
}

.header {
  font-size: 5rem;
  color: rgb(255, 213, 0);
  font-family: Starjhol;
}

.subHeader {
  font-size: 2rem;
  font-family: Starjhol;
}
