.linkedEntities {
  padding: 30px;

  > ul,
  li {
    list-style: none;
    @media screen and (max-width: 768px) {
      display: flex;
    }
  }
}

.linkedEntity {
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin: 10px;
  font-size: 16px;

  &:hover {
    color: #fff;
    background-color: #5650b3;
  }
}

.activeLink {
  color: #fff;
  background-color: #1b0cea;
}
